.top{
  background-color:#FF00E3;
  float:left;
}
.top.right{
  float:left;
}
.top.left{
  float:right;
}
h2 h3 h4 h1 p{
  color: #00FF00;
}
textarea{
  background-color: #00FFFF;
}
body{
  background-image: url('https://enterwebs.neocities.org/images/space.gif');
  background-color: navy-blue;
}
